a,
b,
body,
button,
dd,
div,
dl,
em,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
i,
input,
label,
li,
nav,
p,
select,
span,
td,
textarea,
u,
ul {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none
}

li,
ol,
ul {
    list-style: none
}

a {
    text-decoration: none;
    color: white;
}

a:active,
a:focus,
a:hover,
button,
input,
textarea {
    outline: 0
}

a:hover {
    color: #00d7c6;
    text-decoration: none;
    -webkit-transition: all linear .2s;
    transition: all linear .2s
}

img {
    border: none
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?8mntfy');
    src: url('../fonts/icomoon.eot?8mntfy#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?8mntfy') format('truetype'),
        url('../fonts/icomoon.woff?8mntfy') format('woff'),
        url('../fonts/icomoon.svg?8mntfy#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

* {
    box-sizing: border-box;
}

html {
    background: #f0f2f5;
}

.body {
    overflow: hidden;

}

.left_main {
    position: fixed;
    float: left;
    width: 220px;
    height: 100vh;
    background: #1A2980;
    color: white;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    transition: width 0.4s ease;
}

.left_main:hover {
    width: 240px;
}

.nav {
    margin-top: 50px;
    padding: 0 10px;
}

.nav li {
    height: 70px;
    line-height: 70px;
    list-style: none;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.nav li a {
    display: block;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    transition: color 0.3s ease;
}

.nav li:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}

.nav li.active {
    background-color: rgba(13, 110, 253, 0.5);
    box-shadow: 0 8px 25px rgba(13, 110, 253, 0.5);
}

.right_main {
    float: left;
    margin-left: 292px;
    width: calc(92% - 250px);
    height: 100vh;
    padding: 0 0px 60px;
    box-sizing: border-box;
    background: rgb(240, 242, 245);
}

.right_main::after {
    content: '';
    display: table;
    clear: both;
}

.header {
    height: 100px;
    position: fixed;
    z-index: 4;
}

/* .w {
    width: 1184px;
    margin: 0 auto;
} */

.screen {
    position: relative;
    margin-left: -110px;
    padding-left: 116px;
    padding-right: 116px;
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0) calc(50% - 650px),
            white calc(50% - 620px),
            white calc(50% + 630px),
            rgba(255, 255, 255, 0) calc(50% + 698px),
            rgba(255, 255, 255, 0) 100%);
}

.screen_top {
    position: relative;
    height: 54px;
    padding-top: 10px;
}

.screen_title {
    position: relative;
    float: left;
    line-height: 30px;
    font-size: 20px;
    font-weight: 600;
    color: #222;
    z-index: 4;
}

.screen_title_l {
    position: absolute;
    left: -4px;
    right: 0;
    bottom: 14px;
    z-index: 2;
    height: 10px;
    width: 90px;
    background: linear-gradient(90deg, #62c0ff, #b5c1ff82);
    border-radius: 5px;
}

.screen_chosen {
    float: left;
    align-items: center;
    font-size: 16px;
    color: #666;
    line-height: 22px;
    padding: 4px 0;
    vertical-align: middle;
    position: relative;
    transition: all .2s linear;
    margin-left: 40px;
}

.screen_chosen a {
    color: #666;
}

.screen_chosen a:hover {
    color: #47a7f5;
    text-decoration: none;
    -webkit-transition: all linear .2s;
    transition: all linear .2s
}

.screen_l {
    float: left;
    width: 1px;
    height: 15px;
    background-color: #666;
    margin-left: 15px;
    margin-top: 8px;
}

.screen_wish {
    float: left;
    align-items: center;
    font-size: 16px;
    color: #666;
    line-height: 22px;
    padding: 4px 0;
    vertical-align: middle;
    position: relative;
    transition: all .2s linear;
    margin-left: 22px;
}

.screen_add {
    font-family: 'icomoon';
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 8px;
    margin-right: 10px;
    background-color: #e6e3e3;
    border-radius: 5px;
    line-height: 18px;
    text-align: center;
    transition: all linear .2s
}

.screen_wish:hover .screen_add {
    color: white;
    background-color: #47a7f5;
}

.screen_wish a {
    color: #666;
}

.screen_wish a:hover {
    color: #47a7f5;
    text-decoration: none;
    -webkit-transition: all linear .2s;
    transition: all linear .2s
}

.screen_menu {
    float: right;
    align-items: center;
    font-size: 16px;
    line-height: 22px;
    padding: 4px 13px;
    vertical-align: middle;
    position: relative;
    transition: all .2s linear;
    background: #ccf1ffb2;
    color: #17b6f5;
    border-radius: 8px;
}

.screen_menu:hover {
    background: rgba(135, 206, 235, .2);
}

.screen_menu span {
    font-family: 'icomoon';
}


.screen_menu a {
    color: #666;
}

.screen_menu a:hover {
    color: #00BFFF;
    text-decoration: none;
    -webkit-transition: all linear .2s;
    transition: all linear .2s
}

/* 收起的颜色 */
.screen_menu.collapsed {
    color: #6C757D;
    background-color: transparent;

}

/* 收起时悬停的颜色 */
.screen_menu.collapsed:hover {
    background: rgba(135, 206, 235, .2);
}

.screen_tag {
    width: 1184px;
    height: 56px;
    border-top: 1px solid rgba(167, 166, 166, 0.381);
    transition: max-height 0.5s ease-out,
        padding 0.5s ease-out,
        border-top-color 0.5s ease-out;
    max-height: 500px;
    overflow: hidden;
}


.screen_tag.collapsed {
    border-top-color: transparent;
}

.screen_tag ul {
    float: left;
    margin-top: 10px;
}

.screen_tag li {
    background: #f8f8f8;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    color: #222;
    padding: 6px 10px;
    display: inline-block;
    width: 110px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    margin-right: 10px;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.screen_tag ul li:first-child {
    color: #2fa1ff;
    background: #ccf1ffb2;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.screen_tag ul li:hover {
    color: #3ea8ff;
    background: #ccf1ffb2;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.screen_tag li span {
    font-family: 'icomoon';
}




.province-selector {
    width: 160px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    padding: 4px 8px;
    top: 105px;
    left: 116px;
    z-index: 3;
    border-radius: 8px;
    border: 1px solid rgba(198, 198, 198, 0.653);
    max-height: 230px;
    overflow: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

/* IE 10+ */
.province-selector::-webkit-scrollbar {
    display: none;
    /* chrome */
}

.province-selector li {
    overflow: hidden;
    display: block;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    line-height: 20px;
    padding: 8px 8px 8px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: all .2s linear;
}

.province-selector li:hover {
    color: #2fa1ff;
    background: #ccf1ffb2;
}

.city-selector {
    position: absolute;
    background-color: rgb(255, 255, 255);
    padding: 4px 8px;
    top: 105px;
    left: 283px;
    width: 190px;
    z-index: 3;
    border-radius: 8px;
    border: 1px solid rgba(198, 198, 198, 0.653);
    max-height: 230px;
    overflow: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

/* IE 10+ */
.city-selector::-webkit-scrollbar {
    display: none;
    /* chrome */
}

.city-selector li {
    display: block;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    line-height: 20px;
    padding: 8px 8px 8px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: all .2s linear;
}

.city-selector li:hover {
    color: #2fa1ff;
    background: #ccf1ffb2;
}

.province-selector,
.city-selector {
    display: none;
}


.province-selector ul li.selected {
    color: #2fa1ff;
    position: relative;
    padding-left: 20px;
}

.province-selector ul li.selected::before {
    font-size: large;
    content: '\2022';
    margin-right: 4px;
    position: absolute;
    left: 6px;
    color: #2fa1ff;
}

.province-selector ul li::before {
    content: '';
}

.city-selector ul li.selected {
    color: #2fa1ff;
    position: relative;
    padding-left: 20px;
}

.city-selector ul li.selected::before {
    font-size: large;
    content: '\2022';
    margin-right: 4px;
    position: absolute;
    left: 6px;
    color: #2fa1ff;
}

.city-selector ul li::before {
    content: '';
}




.tag_ex1 {
    display: none;
    position: absolute;
    width: 100px;
    background-color: rgb(255, 255, 255);
    padding: 4px 8px;
    top: 105px;
    left: 241px;
    z-index: 3;
    border-radius: 8px;
    border: 1px solid rgba(198, 198, 198, 0.653);
}

.tag_ex1 ul li {
    display: block;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    line-height: 20px;
    padding: 8px 24px 8px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: all .2s linear;
}

.tag_ex1 ul li:hover {
    color: #2fa1ff;
    background: #ccf1ffb2;
}

.tag1 {
    position: relative;
}

.tag1.has-selection {
    color: #2fa1ff;
    background: #ccf1ffb2;
}

.tag1.has-selection::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    color: #fff;
    background: #ccf1ffb2;
    border-radius: 50%;
    padding: 4px;
    font-size: 12px;
    line-height: 1;
}

.tag_ex1.show {
    display: block;
}

.tag_ex1 ul li.selected {
    color: #2fa1ff;
    position: relative;
    padding-left: 20px;
}

.tag_ex1 ul li.selected::before {
    font-size: large;
    content: '\2022';
    margin-right: 4px;
    position: absolute;
    left: 6px;
    color: #2fa1ff;
}

.tag_ex1 ul li::before {
    content: '';
}




.tag_ex2 {
    display: none;
    position: absolute;
    width: 120px;
    background-color: rgb(255, 255, 255);
    padding: 4px 8px;
    top: 105px;
    left: 365px;
    z-index: 3;
    border-radius: 8px;
    border: 1px solid rgba(198, 198, 198, 0.653);
}

.tag_ex2 ul li {
    display: block;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    line-height: 20px;
    padding: 8px 24px 8px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: all .2s linear;
}

.tag_ex2 ul li:hover {
    color: #2fa1ff;
    background: #ccf1ffb2;
}

.tag2 {
    position: relative;
}

.tag2.has-selection {
    color: #2fa1ff;
    background: #ccf1ffb2;
}

.tag2.has-selection::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    color: #fff;
    background: #ccf1ffb2;
    border-radius: 50%;
    padding: 4px;
    font-size: 12px;
    line-height: 1;
}

.tag_ex2.show {
    display: block;
}

.tag_ex2 ul li.selected {
    color: #2fa1ff;
    position: relative;
    padding-left: 20px;
}

.tag_ex2 ul li.selected::before {
    font-size: large;
    content: '\2022';
    margin-right: 4px;
    position: absolute;
    left: 6px;
    color: #2fa1ff;
}

.tag_ex2 ul li::before {
    content: '';
}






.tag_ex3 {
    display: none;
    position: absolute;
    width: 120px;
    background-color: rgb(255, 255, 255);
    padding: 4px 8px;
    top: 105px;
    left: 490px;
    z-index: 3;
    border-radius: 8px;
    border: 1px solid rgba(198, 198, 198, 0.653);
}

.tag_ex3 ul li {
    display: block;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    line-height: 20px;
    padding: 8px 24px 8px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: all .2s linear;
}

.tag_ex3 ul li:hover {
    color: #2fa1ff;
    background: #ccf1ffb2;
}

.tag3 {
    position: relative;
}

.tag3.has-selection {
    color: #2fa1ff;
    background: #ccf1ffb2;
}

.tag3.has-selection::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    color: #fff;
    background: #ccf1ffb2;
    border-radius: 50%;
    padding: 4px;
    font-size: 12px;
    line-height: 1;
}

.tag_ex3.show {
    display: block;
}

.tag_ex3 ul li.selected {
    color: #2fa1ff;
    position: relative;
    padding-left: 20px;
}

.tag_ex3 ul li.selected::before {
    font-size: large;
    content: '\2022';
    margin-right: 4px;
    position: absolute;
    left: 6px;
    color: #2fa1ff;
}

.tag_ex3 ul li::before {
    content: '';
}








.tag_ex4 {
    display: none;
    position: absolute;
    width: 140px;
    background-color: rgb(255, 255, 255);
    padding: 4px 8px;
    top: 105px;
    left: 613px;
    z-index: 3;
    border-radius: 8px;
    border: 1px solid rgba(198, 198, 198, 0.653);
}

.tag_ex4 ul li {
    display: block;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    line-height: 20px;
    padding: 8px 24px 8px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: all .2s linear;
}

.tag_ex4 ul li:hover {
    color: #2fa1ff;
    background: #ccf1ffb2;
}

.tag4 {
    position: relative;
}

.tag4.has-selection {
    color: #2fa1ff;
    background: #ccf1ffb2;
}

.tag4.has-selection::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    color: #fff;
    background: #ccf1ffb2;
    border-radius: 50%;
    padding: 4px;
    font-size: 12px;
    line-height: 1;
}

.tag_ex4.show {
    display: block;
}

.tag_ex4 ul li.selected {
    color: #2fa1ff;
    position: relative;
    padding-left: 20px;
}

.tag_ex4 ul li.selected::before {
    font-size: large;
    content: '\2022';
    margin-right: 4px;
    position: absolute;
    left: 6px;
    color: #2fa1ff;
}

.tag_ex4 ul li::before {
    content: '';
}



.tag_ex5 {
    display: none;
    position: absolute;
    max-height: 230px;
    overflow: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
    width: 687px;
    background-color: rgb(255, 255, 255);
    padding: 4px 8px;
    top: 105px;
    left: 780px;
    z-index: 3;
    border-radius: 8px;
    border: 1px solid rgba(198, 198, 198, 0.653);
}

.tag_ex5::-webkit-scrollbar {
    display: none;
    /* chrome */
}

.ex5 {
    display: flex;
}

.ex5_left {
    padding: 6px 10px;
    display: inline-block;
    width: 180px;
    flex: 0 0 auto;
}

.ex5_right {
    display: inline-block;
    flex: 1;
}

.tag_ex5 ul li {
    display: inline-block;
    border-radius: 4px;
    width: 160px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    line-height: 20px;
    padding: 8px 8px 8px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: all .2s linear;
}

.tag_ex5 ul li:hover {
    color: #2fa1ff;
    background: #ccf1ffb2;
}

.tag5 {
    position: relative;
}

.tag5.has-selection {
    color: #2fa1ff;
    background: #ccf1ffb2;
}

.tag5.has-selection::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    color: #fff;
    background: #ccf1ffb2;
    border-radius: 50%;
    padding: 4px;
    font-size: 12px;
    line-height: 1;
}

.tag_ex5.show {
    display: block;
}

.tag_ex5 ul li.selected {
    color: #2fa1ff;
    position: relative;
    padding-left: 20px;
}

.tag_ex5 ul li.selected::before {
    font-size: large;
    content: '\2022';
    margin-right: 4px;
    position: absolute;
    left: 6px;
    color: #2fa1ff;
}

.tag_ex5 ul li::before {
    content: '';
}




.tag_ex6 {
    display: none;
    position: absolute;
    width: 160px;
    background-color: rgb(255, 255, 255);
    padding: 4px 8px;
    top: 105px;
    left: 1031px;
    z-index: 3;
    border-radius: 8px;
    border: 1px solid rgba(198, 198, 198, 0.653);
}

.tag_ex6 ul li {
    display: block;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    line-height: 20px;
    padding: 8px 24px 8px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: all .2s linear;
}

.tag_ex6 ul li:hover {
    color: #2fa1ff;
    background: #ccf1ffb2;
}

.tag6 {
    position: relative;
}

.tag6.has-selection {
    color: #2fa1ff;
    background: #ccf1ffb2;
}

.tag6.has-selection::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    color: #fff;
    background: #ccf1ffb2;
    border-radius: 50%;
    padding: 4px;
    font-size: 12px;
    line-height: 1;
}

.tag_ex6.show {
    display: block;
}

.tag_ex6 ul li.selected {
    color: #2fa1ff;
    position: relative;
    padding-left: 20px;
}

.tag_ex6 ul li.selected::before {
    font-size: large;
    content: '\2022';
    margin-right: 4px;
    position: absolute;
    left: 6px;
    color: #2fa1ff;
}

.tag_ex6 ul li::before {
    content: '';
}



.screen_del {
    float: right;
    font-size: 14px;
    color: #666;
    line-height: 48px;
}

.screen_del:hover {
    color: #17b6f5;
    transform: scale(1.05);
}

.main {
    position: absolute;
    height: auto;
    width: 1184px;
    left: 50%;
    transform: translateX(-48%);
    margin-top: 160px;
    transition: margin-top 0.5s ease-out;
    overflow-y: visible;
}

.left {
    float: left;
    height: 100%;
    overflow-y: auto;
}

.job_list {
    width: 384px;
    height: 7380px;
}

.list_tab {
    height: 136px;
    width: 100%;
    margin-bottom: 11.8px;
    border-radius: 12px;
    cursor: pointer;
    background: #fff;
    transition: box-shadow .2s linear;
}

.list_tab:hover {
    border: 1px solid #3da9fc;
    box-shadow: 0 2px 4px rgba(61, 169, 252, 0.2);
    animation: pulseBorder 1.5s infinite ease-in-out;
}

@keyframes pulseBorder {

    0%,
    100% {
        border-color: #3da9fc;
    }

    50% {
        border-color: #a4d4fa;
    }

}

.selected-tab {
    border: 1px solid #3da9fc;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset 0 0 8px #a4d4fa;
}

.list_tab .list_name .selected-name {
    color: #3da9fc;
}

.list_top {
    height: 88px;
    padding: 16px 20px;
}

.list_name {
    float: left;
}

.list_name a {
    color: #222;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    transition: all .2s linear;
}

.list_name a:hover {
    color: #00d7c6;
    text-decoration: none;
    -webkit-transition: all linear .2s;
    transition: all linear .2s
}

.list_pay {
    float: right;
    font-size: 20px;
    font-weight: 500;
    color: #fe574a;
    line-height: 24px;
    height: 24px;
}

.list_tag {
    margin-top: 34px;
}

.list_tag ul li {
    float: left;
    margin-right: 14px;
    background: #f8f8f8;
    border-radius: 4px;
    font-size: 13px;
    color: #666;
    line-height: 18px;
    padding: 2px 8px;
}

.list_bottom {
    height: 48px;
    padding: 12px 20px;
    background-color: linear-gradient(90deg, #f5fcfc, #fcfbfa);
}

.list_comp {
    float: left;

}

.list_comp a {
    font-size: 13px;
    color: #666;
}

.list_comp a:hover {
    color: #00d7c6;
    text-decoration: none;
    transition: all linear .2s
}

.list_comp img {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    margin-right: 10px;
    vertical-align: middle;
}


.list_loca {
    float: right;
    font-size: 13px;
    color: #666;
    line-height: 18px;
}

.right {
    margin-left: 400px;
    position: sticky;
    top: 160px;
    /* 145 */
    float: none;
    height: 610px;
    transition: top 0.5s ease-out;
}

.job_cont {
    width: 784px;
    background-color: #fff;
    border-radius: 16px;
    position: absolute;
    color: black;
}

.job_top {
    width: 784px;
    height: 93px;
    padding: 16px 30px;
}

.top_left {
    float: left;
}

.job_name {
    float: left;
    font-size: 20px;
    font-weight: 600;
    color: #222;
    line-height: 28px;
}

.job_pay {
    float: left;
    font-size: 20px;
    color: #fe574a;
    line-height: 29px;
    margin-left: 20px;
}

.job_mesg {
    margin-top: 37px;
    width: 504px;
    height: 20px;
}

.job_mesg ul li {
    float: left;
    color: #222;
    line-height: 20px;
    font-family: 'icomoon';
    font-size: 14px;
    align-items: center;
    margin-right: 14px;
    background: #f8f8f865;
    border-radius: 4px;
    padding: 2px 8px;
}

.top_right {
    float: right;
}

.top_right .like {
    float: left;
    width: 104px;
    height: 35px;
    text-align: center;
    font-family: 'icomoon';
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    line-height: 35px;
    background-color: #f0f8ff;
    color: #2fa1ff;
    border: 1px solid #2fa1ff;
    transition: transform .3s ease, box-shadow .3s ease, background-color .3s ease;
    margin-right: 11px;
}

.top_right .like:hover {
    transform: scale(1.05);
    background-color: #87CEFA;
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.top_right .talk {
    float: left;
    width: 104px;
    height: 35px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    line-height: 20px;
    padding: 7px 20px;
    color: white;
    background-color: #2fa1ff;
    border: 1px solid #87CEFA;
    transition: transform .3s ease, box-shadow .3s ease, background-color .3s ease;
}

.top_right .talk:hover {
    transform: scale(1.05);
    background-color: #87CEFA;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.job_main {
    width: 784px;
    height: 430px;
    padding: 0 30px 0;
    transition: all .2s linear;
}

.job_tag li {
    float: left;
    background: #f8f8f8;
    border-radius: 4px;
    padding: 4px 12px;
    font-size: 13px;
    color: #666;
    line-height: 20px;
    margin: 10px 12px 0 0;
}

.job_info {
    height: 355px;
    margin-top: 50px;
    font-size: 14px;
    color: #222;
    line-height: 20px;
    text-align: justify;
    overflow: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
    transition: all .2s linear;
}

.job_info::-webkit-scrollbar {
    display: none;
    /* chrome */
}

.exp_cont {
    padding: 0 10px;
    margin-top: 5px;
}

.exp_cont li {
    position: relative;
    margin-bottom: 5px;
}

.exp_name {
    display: inline-block;
    font-weight: 600;
    color: #222;
    display: inline-block;
    max-width: 240px;
    word-break: break-all;
}

.exp_job {
    display: inline-block;
    font-weight: 500;
    color: #222;
    display: inline-block;
    word-break: break-all;
    margin-left: 10px;
}

.exp_state {
    display: inline-block;
    padding: 0 8px;
    border-radius: 4px;
    margin-left: 8px;
    color: #2fa1ff;
    line-height: 20px;
    height: 20px;
    background: #ccf1ffb2;
}

.exp_cont1 {
    position: relative;
}

.exp_time {
    position: absolute;
    display: inline-block;
    color: #999;
    font-size: 14px;
    right: 0;
    top: 0;
}

.exp_cont2::after {
    content: "";
    display: table;
    clear: both;
}

.exp_work_name {
    color: #222;
    margin-right: 4px;
    float: left;
}

.exp_work_cont {
    float: left;
    color: #333;
    white-space: pre-wrap;
    overflow: hidden;
    word-break: break-all;
    text-align: justify;
    letter-spacing: 0;
    max-width: 500px;
}

.exp_cont3::after {
    content: "";
    display: table;
    clear: both;
}

.exp_grade_name {
    color: #222;
    margin-right: 4px;
    float: left;
}

.exp_grade_cont {
    float: left;
    color: #333;
    white-space: pre-wrap;
    overflow: hidden;
    word-break: break-all;
    text-align: justify;
    letter-spacing: 0;
    max-width: 500px;
}


.proj_cont {
    padding: 0 10px;
    margin-top: 5px;
}

.proj_cont li {
    position: relative;
    margin-bottom: 5px;
}

.proj_name {
    display: inline-block;
    font-weight: 600;
    color: #222;
    display: inline-block;
    max-width: 240px;
    word-break: break-all;
}

.proj_job {
    display: inline-block;
    font-weight: 500;
    color: #222;
    display: inline-block;
    word-break: break-all;
    margin-left: 10px;
}

.proj_cont1 {
    position: relative;
}

.proj_time {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    margin-left: 290px;
    color: #999;
    font-size: 14px;
}

.proj_link {
    color: #999;
    font-size: 14px;
}

.proj_cont2::after {
    content: "";
    display: table;
    clear: both;
}

.proj_work_name {
    color: #222;
    margin-right: 4px;
    float: left;
}

.proj_work_cont {
    float: left;
    color: #333;
    white-space: pre-wrap;
    overflow: hidden;
    word-break: break-all;
    text-align: justify;
    letter-spacing: 0;
    max-width: 500px;
}

.proj_cont3::after {
    content: "";
    display: table;
    clear: both;
}

.proj_grade_name {
    color: #222;
    margin-right: 4px;
    float: left;
}

.proj_grade_cont {
    float: left;
    color: #333;
    white-space: pre-wrap;
    overflow: hidden;
    word-break: break-all;
    text-align: justify;
    letter-spacing: 0;
    max-width: 500px;
}


.edu_cont {
    padding: 0 10px;
    margin-top: 5px;
}

.edu_cont li {
    position: relative;
    margin-bottom: 5px;
}

.edu_img {
    margin-right: 10px;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.edu_img img {
    width: 100%;

}

.edu_cont1_info {
    display: inline-block;
    vertical-align: top;
}

.edu_name {
    display: inline-block;
    font-weight: 600;
    color: #222;
    display: inline-block;
    max-width: 240px;
    word-break: break-all;
}

.edu_job {
    font-weight: 500;
    color: #222;
    display: inline-block;
    word-break: break-all;
    margin-top: 5px;
}

.edu_state {
    display: inline-block;
    padding: 0 8px;
    border-radius: 4px;
    margin-left: 8px;
    color: #2fa1ff;
    line-height: 20px;
    height: 20px;
    background: #ccf1ffb2;
}

.edu_cont1 {
    position: relative;
}

.edu_time {
    position: absolute;
    display: inline-block;
    color: #999;
    font-size: 14px;
    right: 0;
    top: 0;
}

.edu_cont2::after {
    content: "";
    display: table;
    clear: both;
}

.edu_work_name {
    color: #222;
    margin-right: 4px;
    float: left;
}

.edu_work_cont {
    float: left;
    color: #333;
    white-space: pre-wrap;
    overflow: hidden;
    word-break: break-all;
    text-align: justify;
    letter-spacing: 0;
    max-width: 500px;
}



.job_bottom {
    width: 784px;
    height: 70px;
    padding: 16px 30px 14px;
}

.boss_img {
    float: left;
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 100%;
    margin-right: 10px;
}

.boss_img img {
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 100%;
}

.boss_info {
    float: left;
    position: relative;
}

.boss_name {
    font-size: 16px;
    font-weight: 500;
    color: #222;
    line-height: 22px;
}

.boss_mesg {
    font-size: 12px;
    color: #666;
    line-height: 17px;
    margin-top: 4px;
}

.boss_mesg span {
    margin-right: 10px;
}

.boss_state {
    position: absolute;
    top: 2px;
    left: 80px;
    font-size: 12px;
    color: #999;
    line-height: 20px;
    font-weight: 400;
}



.right_change {
    position: absolute;
    top: 0;
    right: -70px;
}

.vertical_button {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    padding: 20px 15px;
    border: none;
    border-radius: 30px;
    background: #6A82FB;
    background-image: linear-gradient(315deg, #6A82FB 0%, #FC5C7D 74%);
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.4s ease;
    writing-mode: vertical-lr;
    text-align: center;
    letter-spacing: 6px;
    line-height: 1;
}

.vertical_button::before {
    content: "";
    position: absolute;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, transparent, rgba(255, 255, 255, 0.4), transparent);
    transition: all 0.6s ease;
}

.vertical_button:hover::before {
    top: 100%;
    left: 0;
}

.vertical_button:focus {
    outline: none;
}