a,
b,
body,
button,
dd,
div,
dl,
em,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
i,
input,
label,
li,
nav,
p,
select,
span,
td,
textarea,
u,
ul {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none
}

li,
ol,
ul {
    list-style: none
}

a {
    text-decoration: none;
    color: white;
}

a:active,
a:focus,
a:hover,
button,
input,
textarea {
    outline: 0
}

a:hover {
    color: #00d7c6;
    text-decoration: none;
    -webkit-transition: all linear .2s;
    transition: all linear .2s
}

img {
    border: none
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?8mntfy');
    src: url('../fonts/icomoon.eot?8mntfy#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?8mntfy') format('truetype'),
        url('../fonts/icomoon.woff?8mntfy') format('woff'),
        url('../fonts/icomoon.svg?8mntfy#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

* {
    box-sizing: border-box;
}

html {
    background-color: rgb(241, 241, 241);
    overflow-y: scroll;
}

.w {
    width: 1173px;
    margin: 0 auto;
    position: relative;
}


body {
    padding-top: 50px;
}

.shortcut {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    color: white;
    font-size: 14px;
    height: 49px;
    width: 100%;
    background: radial-gradient(circle, #0a3d62 0%, #161b21 70%);
}

.shortcut .shortcut-left {
    float: left;
    width: 800px;
    height: 49px;
}

.shortcut .shortcut-right {
    float: right;
    width: 270px;
    height: 49px;
}

.shortcut .w .shortcut-left .logo a {
    text-align: left;
    font-size: 30px;
    line-height: 49px;
    float: left;
    display: block;
    width: 104px;
    height: 49px;
}

.shortcut .w .shortcut-left .city {
    float: left;
    width: 114px;
    height: 49px;
    background-color: blue;
}

.shortcut .w .shortcut-left .nav {
    float: left;
    width: 580px;
    height: 49px;
}

.shortcut .w .shortcut-left .nav ul li {
    float: left;
    line-height: 49px;
    margin: 0 11px;
}

.shortcut .shortcut-right .choice {
    position: relative;
    float: left;
    width: 164px;
    height: 49px;
}

.shortcut .shortcut-right .choice .c1 {
    float: left;
    width: 71px;
    height: 27px;
    margin-top: 11px;
    margin-right: 11px;
}

.shortcut .shortcut-right .choice .c1 :hover {
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);

}

.shortcut .shortcut-right .choice .c2 :hover {
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
}

.shortcut .shortcut-right .choice a {
    display: block;
    color: white;
    text-align: center;
    line-height: 27px;
}

.shortcut .shortcut-right .choice .c2 {
    float: left;
    width: 82px;
    height: 27px;
    margin-top: 11px;
}

.shortcut .shortcut-right .login {
    float: right;
    width: 88px;
    height: 27px;
    margin-top: 11px;
}

.shortcut .shortcut-right .login a {
    display: block;
    text-align: center;
    line-height: 25px;
    font-size: 16px;
}

.shortcut .shortcut-right .login a img {
    background-color: #00a6a7;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -5px;
}

.choice_ex {
    position: absolute;
    display: none;
    top: 49px;
    right: -100px;
    width: 332px;
    height: 140px;
    background-color: white;
    border-radius: 11px;
}


.choice_ex a {
    float: left;
    display: block;
    height: 124px;
    width: 100px;
    margin-left: 8px;
    margin-top: 7px;
    background-color: purple;
    border-radius: 11px;
}

.choice:hover .choice_ex {
    display: block;
}

.main {
    margin-top: 20px;

}

.left {
    position: fixed;
    top: 70px;
    left: 255px;
    width: 160px;
    background-color: white;
    border-radius: 16px 16px 10px 10px;
    padding-bottom: 2px;
}


/* 定义抖动动画 */
@keyframes shake {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-20px);
    }

    75% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }

}

.shake {
    animation: shake 1s ease;
}

.left h4 {
    padding: 12px 20px;
    color: #222;
    font-weight: 600;
    background: linear-gradient(90deg, #e8f8f8, #f4f0eb);
    border-radius: 16px 16px 0 0;
}

.left ul li {
    align-items: center;
    padding: 10px 16px;
    line-height: 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: all .2s linear;
    color: #333;
    margin: 2px 2px;
}

.left ul li:hover {
    color: #00d7c6;
    font-weight: 700;
    background-color: rgba(179, 178, 178, 0.16);
}

.my {
    align-items: center;
    padding: 10px 16px;
    line-height: 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: all .2s linear;
    color: #333;
    margin: 2px 2px;
}

.my:hover {
    color: #00d7c6;
    font-weight: 700;
    background-color: rgba(179, 178, 178, 0.16);
}

.line {
    width: 90%;
    height: 1px;
    background-color: rgba(156, 156, 156, 0.447);
    margin: 0 auto;
}

.mid {
    float: left;
    width: 792px;
    margin: 0 16px 0 180px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 -1px 8px rgba(0, 0, 0, .03);
    padding: 20px 35px 20px;
}

.mid_info {
    position: relative;
}

.info_cont {
    min-height: 123px;
    position: relative;
    height: 123px;
}

.info_title {
    font-size: 20px;
    height: 27px;
    line-height: 27px;
    font-weight: 500;
    margin-left: 16px;
}

.info_title::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 20px;
    background: #00bebd;
    border-radius: 3px;
    left: 0;
    top: 5px;
}

.info_left {
    margin-top: 10px;
    float: left;
    width: 600px;
    border-radius: 8px;
    padding: 10px 10px;
}


.info_left:hover {
    background-color: #f0f0f0;
}

.info_left:hover .info_change {
    display: block;
}

.info_name {
    color: #222;
    height: 33px;
    line-height: 33px;
    font-size: 24px;
    font-weight: 500;
}

.info_tag {
    margin-top: 10px;
    line-height: 20px;
    height: 20px;
    font-size: 14px;
    color: #333;
}

.info_tag li {
    float: left;
    margin-right: 20px;
}

.info_tag li span {
    font-family: 'icomoon';
}

.info_tel {
    margin-top: 10px;
    line-height: 20px;
    height: 20px;
    font-size: 14px;
    color: #333;
}

.info_tel span {
    font-family: 'icomoon';
}

.info_change {
    position: absolute;
    color: #00a6a7;
    top: 20px;
    right: 140px;
    display: none;
}

.info_change:hover {
    color: #01d2d2;
}

.info_change span {
    font-family: 'icomoon';
}

.info_right {
    float: right;
    width: 111px;
    height: 111px;
    margin-top: 10px;
    padding: 10px 10px;
}

.info_img {
    position: relative;
    background-color: rgb(188, 125, 154);
    width: 100%;
    height: 100%;
    border-radius: 100%;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.253);
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
}

.info_img:hover .overlay {
    display: flex;
}

.mid_info_ex {
    background: #f8f8f8;
    border-radius: 16px;
    margin-top: 10px;
    padding: 20px;
    display: none;
}

.info_ex_title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mid_info_ex form>div {
    display: inline-block;
    width: 45%;
    margin-bottom: 10px;
}

.info_ex_name,
.info_ex_sex,
.info_ex_birth {
    margin-right: 9%;
}


.mid_info_ex form>div div {
    color: #666;
    line-height: 20px;
    margin-bottom: 10px;
}

.mid_info_ex form>div input,
.info_ex_state select,
.info_ex_sex label {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 8px;
    transition: border-color 0.3s ease;
}

.mid_info_ex form>div input:hover,
.info_ex_state select:hover,
.info_ex_sex label:hover {
    border-color: #007bff;
}

.info_ex_sex label {
    display: inline-block;
    width: 45%;
    text-align: center;
}

.info_ex_sex .man {
    margin-right: 25px;
}

.mid_info_ex form .info_ex_btn {
    width: 30%;
    margin-left: 160px;
    text-align: right;
}

.info_btn_no,
.info_btn_yes {
    padding: 9px 29px;
    border-radius: 8px;
    border: none;
    transition: all .2s linear;
}

.info_btn_no {
    color: #222;
    background-color: #fff;
    border: 1px solid rgba(128, 128, 128, 0.342);
    margin-right: 10px;
}

.info_btn_yes {
    background-color: #00bebd;
    color: white;
}

.info_btn_no:hover {
    color: #00d7c6;
    border-color: #00d7c6;
}

.info_btn_yes:hover {
    background-color: #07d2d2;
}




.mid_adv {
    position: relative;
    margin-top: 20px;
}

.adv_title {
    font-size: 20px;
    height: 27px;
    line-height: 27px;
    font-weight: 500;
    margin-left: 16px;
}

.adv_title::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 20px;
    background: #00bebd;
    border-radius: 3px;
    left: 0;
    top: 5px;
}

.adv_cont {
    min-height: 45px;
    border-radius: 8px;
    padding: 10px 90px 0 10px;
    margin-top: 10px;
}

.adv_cont:hover {
    background-color: #f8f8f8;
}

.adv_cont ul li {
    font-size: 15px;
    display: inline-block;
    padding: 2px 12px;
    margin-right: 10px;
    border-radius: 8px;
    border: 1px solid #00bebd;
    background-color: #00bebd;
    color: white;
    margin-bottom: 10px;
}

.adv_cont {
    position: relative;
}

.adv_change {
    position: absolute;
    color: #00a6a7;
    top: 13px;
    right: 22px;
    display: none;
}

.adv_change:hover {
    color: #01d2d2;
}

.adv_change span {
    font-family: 'icomoon';
}

.adv_cont:hover .adv_change {
    display: block;
}

.mid_adv_ex {
    display: none;
}

.mid_adv_ex .adv_ex_list {
    background-color: #f8f8f8;
    border-radius: 16px;
    margin-top: 10px;
    padding: 20px;
}

.adv_ex_list ul li {
    font-size: 15px;
    display: inline-block;
    padding: 2px 12px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid gray;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.adv_ex_list ul li:hover {
    background-color: #e4e4e4;
}

.adv_ex_list ul li.selected {
    background-color: #00bebd;
    color: white;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 190, 189, 0.5);
}

.adv_btn_no,
.adv_btn_yes {
    padding: 9px 29px;
    border-radius: 8px;
    border: none;
    transition: all .2s linear;
}

.adv_btn_no {
    color: #222;
    background-color: #fff;
    border: 1px solid rgba(128, 128, 128, 0.342);
    margin-right: 20px;
    margin-left: 485px;
}

.adv_btn_yes {
    background-color: #00bebd;
    color: white;
}

.adv_btn_no:hover {
    color: #00d7c6;
    border-color: #00d7c6;
}

.adv_btn_yes:hover {
    background-color: #07d2d2;
}





.mid_wish {
    position: relative;
    margin-top: 20px;
}

.wish_title {
    font-size: 20px;
    height: 27px;
    line-height: 27px;
    font-weight: 500;
    margin-left: 16px;
}

.wish_title::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 20px;
    background: #00bebd;
    border-radius: 3px;
    left: 0;
    top: 5px;
}

.wish_cont {
    min-height: 45px;
    border-radius: 8px;
    padding: 10px 90px 0 10px;
    margin-top: 10px;
}

.wish_cont:hover {
    background-color: #f8f8f8;
}

.wish_cont ul li {
    font-size: 15px;
    display: inline-block;
    padding: 2px 12px;
    margin-right: 10px;
    border-radius: 8px;
    border: 1px solid #00bebd;
    background-color: #00bebd;
    color: white;
    margin-bottom: 10px;
}

.wish_cont {
    position: relative;
}

.wish_change {
    position: absolute;
    color: #00a6a7;
    top: 13px;
    right: 22px;
    display: none;
}

.wish_change:hover {
    color: #01d2d2;
}

.wish_change span {
    font-family: 'icomoon';
}

.wish_cont:hover .wish_change {
    display: block;
}

.mid_wish_ex {
    display: none;
}

.mid_wish_ex .wish_ex_list {
    background-color: #f8f8f8;
    border-radius: 16px;
    margin-top: 10px;
    padding: 20px;
}

.wish_ex_list ul li {
    font-size: 15px;
    display: inline-block;
    padding: 2px 12px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid gray;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.wish_ex_list ul li:hover {
    background-color: #e4e4e4;
}

.wish_ex_list ul li.selected {
    background-color: #00bebd;
    color: white;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 190, 189, 0.5);
}

.wish_btn_no,
.wish_btn_yes {
    padding: 9px 29px;
    border-radius: 8px;
    border: none;
    transition: all .2s linear;
}

.wish_btn_no {
    color: #222;
    background-color: #fff;
    border: 1px solid rgba(128, 128, 128, 0.342);
    margin-right: 20px;
    margin-left: 485px;
}

.wish_btn_yes {
    background-color: #00bebd;
    color: white;
}

.wish_btn_no:hover {
    color: #00d7c6;
    border-color: #00d7c6;
}

.wish_btn_yes:hover {
    background-color: #07d2d2;
}










.mid_exp {
    position: relative;
    margin-top: 20px;
}

.exp_title {
    font-size: 20px;
    height: 27px;
    line-height: 27px;
    font-weight: 500;
    margin-left: 16px;
}

.exp_title::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 20px;
    background: #00bebd;
    border-radius: 3px;
    left: 0;
    top: 5px;
}

.exp_cont {
    min-height: 45px;
    border-radius: 8px;
    padding: 10px 10px;
    margin-top: 10px;
}

.exp_name {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #222;
    margin-right: 10px;
}

.exp_job {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: #222;
}

.exp_time {
    margin-top: 5px;
    color: #999;
    font-size: 14px;
}

.exp_cont:hover {
    background-color: #f8f8f8;
}

.exp_cont ul li {
    font-size: 15px;
    padding: 2px 12px;
    margin-right: 10px;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    width: 85%;
}

.exp_cont {
    position: relative;
}

.exp_change {
    position: absolute;
    color: #00a6a7;
    top: 13px;
    right: 22px;
    display: none;
}

.exp_change:hover {
    color: #01d2d2;
}

.exp_change span {
    font-family: 'icomoon';
}

.exp_cont:hover .exp_change {
    display: block;
}

.mid_exp_ex {
    display: none;
}

.mid_exp_ex .exp_ex_list {
    background-color: #f8f8f8;
    border-radius: 16px;
    margin-top: 10px;
    padding: 20px;
}

.exp_ex_list ul li {
    font-size: 15px;
    padding: 10px 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid gray;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.mid_exp_ex .exp_ex_list ul li .exp_ex_name {
    float: left;
    font-weight: 700;
    margin-right: 15px;
}

.exp_ex-job {
    float: left;
}

.exp_ex_list ul li:hover {
    background-color: #e4e4e4;
}

.exp_ex_list ul li.selected {
    background-color: #00bebd;
    color: white;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 190, 189, 0.5);
}

.exp_btn_no,
.exp_btn_yes {
    padding: 9px 29px;
    border-radius: 8px;
    border: none;
    transition: all .2s linear;
}

.exp_btn_no {
    color: #222;
    background-color: #fff;
    border: 1px solid rgba(128, 128, 128, 0.342);
    margin-right: 20px;
    margin-left: 485px;
}

.exp_btn_yes {
    background-color: #00bebd;
    color: white;
}

.exp_btn_no:hover {
    color: #00d7c6;
    border-color: #00d7c6;
}

.exp_btn_yes:hover {
    background-color: #07d2d2;
}





.mid_proj {
    position: relative;
    margin-top: 20px;
}

.proj_title {
    font-size: 20px;
    height: 27px;
    line-height: 27px;
    font-weight: 500;
    margin-left: 16px;
}

.proj_title::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 20px;
    background: #00bebd;
    border-radius: 3px;
    left: 0;
    top: 5px;
}

.proj_cont {
    min-height: 45px;
    border-radius: 8px;
    padding: 10px 10px;
    margin-top: 10px;
}

.proj_name {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #222;
    margin-right: 10px;
}

.proj_job {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: #222;
}

.proj_time {
    margin-top: 5px;
    color: #999;
    font-size: 14px;
}

.proj_cont:hover {
    background-color: #f8f8f8;
}

.proj_cont ul li {
    font-size: 15px;
    padding: 2px 12px;
    margin-right: 10px;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    width: 85%;
}

.proj_cont {
    position: relative;
}

.proj_change {
    position: absolute;
    color: #00a6a7;
    top: 13px;
    right: 22px;
    display: none;
}

.proj_change:hover {
    color: #01d2d2;
}

.proj_change span {
    font-family: 'icomoon';
}

.proj_cont:hover .proj_change {
    display: block;
}

.mid_proj_ex {
    display: none;
}

.mid_proj_ex .proj_ex_list {
    background-color: #f8f8f8;
    border-radius: 16px;
    margin-top: 10px;
    padding: 20px;
}

.proj_ex_list ul li {
    font-size: 15px;
    padding: 10px 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid gray;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.mid_proj_ex .proj_ex_list ul li .proj_ex_name {
    float: left;
    font-weight: 700;
    margin-right: 15px;
}

.proj_ex-job {
    float: left;
}

.proj_ex_list ul li:hover {
    background-color: #e4e4e4;
}

.proj_ex_list ul li.selected {
    background-color: #00bebd;
    color: white;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 190, 189, 0.5);
}

.proj_btn_no,
.proj_btn_yes {
    padding: 9px 29px;
    border-radius: 8px;
    border: none;
    transition: all .2s linear;
}

.proj_btn_no {
    color: #222;
    background-color: #fff;
    border: 1px solid rgba(128, 128, 128, 0.342);
    margin-right: 20px;
    margin-left: 485px;
}

.proj_btn_yes {
    background-color: #00bebd;
    color: white;
}

.proj_btn_no:hover {
    color: #00d7c6;
    border-color: #00d7c6;
}

.proj_btn_yes:hover {
    background-color: #07d2d2;
}










.mid_edu {
    position: relative;
    margin-top: 20px;
}

.edu_title {
    font-size: 20px;
    height: 27px;
    line-height: 27px;
    font-weight: 500;
    margin-left: 16px;
}

.edu_title::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 20px;
    background: #00bebd;
    border-radius: 3px;
    left: 0;
    top: 5px;
}

.edu_cont {
    min-height: 45px;
    border-radius: 8px;
    padding: 10px 10px;
    margin-top: 10px;
}

.edu_name {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #222;
    margin-right: 10px;
}

.edu_job {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: #222;
}

.edu_time {
    margin-top: 5px;
    color: #999;
    font-size: 14px;
}

.edu_cont:hover {
    background-color: #f8f8f8;
}

.edu_cont ul li {
    font-size: 15px;
    padding: 2px 12px;
    margin-right: 10px;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    width: 85%;
}

.edu_cont {
    position: relative;
}

.edu_change {
    position: absolute;
    color: #00a6a7;
    top: 13px;
    right: 22px;
    display: none;
}

.edu_change:hover {
    color: #01d2d2;
}

.edu_change span {
    font-family: 'icomoon';
}

.edu_cont:hover .edu_change {
    display: block;
}

.mid_edu_ex {
    display: none;
}

.mid_edu_ex .edu_ex_list {
    background-color: #f8f8f8;
    border-radius: 16px;
    margin-top: 10px;
    padding: 20px;
}

.edu_ex_list ul li {
    font-size: 15px;
    padding: 10px 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid gray;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.mid_edu_ex .edu_ex_list ul li .edu_ex_name {
    float: left;
    font-weight: 700;
    margin-right: 15px;
}

.edu_ex-job {
    float: left;
}

.edu_ex_time {
    margin-top: 3px;
    font-size: 14px;
}

.edu_ex_list ul li:hover {
    background-color: #e4e4e4;
}

.edu_ex_list ul li.selected {
    background-color: #00bebd;
    color: white;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 190, 189, 0.5);
}

.edu_btn_no,
.edu_btn_yes {
    padding: 9px 29px;
    border-radius: 8px;
    border: none;
    transition: all .2s linear;
}

.edu_btn_no {
    color: #222;
    background-color: #fff;
    border: 1px solid rgba(128, 128, 128, 0.342);
    margin-right: 20px;
    margin-left: 485px;
}

.edu_btn_yes {
    background-color: #00bebd;
    color: white;
}

.edu_btn_no:hover {
    color: #00d7c6;
    border-color: #00d7c6;
}

.edu_btn_yes:hover {
    background-color: #07d2d2;
}






.right {
    position: fixed;
    right: 255px;
    top: 70px;
    width: 180px;
    border-radius: 16px 16px 16px 16px;
    padding: 12px 20px;
    color: #222;
    font-weight: 600;
    background: linear-gradient(90deg, #e8f8f8, #f4f0eb);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 4;
}

.right_look,
.right_upload {
    margin-bottom: 10px;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.right_look {
    background: linear-gradient(90deg, #7779ef, #4bc9cb);
    color: white;
    transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.right_upload {
    background: linear-gradient(90deg, #27c7c4, #a0d468);
    color: white;
    transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.right_look:hover {
    background: linear-gradient(90deg, #6466f6, #3d9c9e);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.right_upload:hover {
    background: linear-gradient(90deg, #1f9e9a, #8dc377);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.look {
    display: none;
    position: fixed;
    padding: 20px;
    width: 700px;
    border-radius: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    background: linear-gradient(to bottom, #eafffe, #ffffff);
    overflow: auto;
    max-height: 540px;
}

.look_top {
    min-height: 90px;
    padding: 10px 20px;
    overflow: hidden;
}

.look_img {
    float: left;
    overflow: hidden;
}

.look_img img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    display: block;
}

.look_info {
    margin-top: 5px;
    float: left;
    margin-left: 25px;
}

.look_name {
    max-width: 253px;
    font-weight: 500;
    color: #222;
    line-height: 28px;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}

.look_tag li {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    color: #333;
    line-height: 10px;
    border-right: 1px solid black;
    font-weight: 400;
    padding-right: 10px;
    margin-right: 5px;
}

.look_tag ul li:last-child {
    border-right: none;
}

.look_adv {
    margin-top: 20px;
    overflow: hidden;
    padding: 0 20px;
}

.look_adv_left {
    float: left;
    font-size: 17px;
    color: #222;
    font-weight: 500;
    margin-left: 0px;
    margin-right: 30px;
}

.look_adv_right {
    float: left;
}

.look_adv_right li {
    float: left;
    font-size: 14px;
    color: #222;
    font-weight: 500;
    padding: 0 15px 0 0;
    line-height: 22px;
}



.look_wish {
    margin-top: 20px;
    overflow: hidden;
    padding: 0 20px;
}

.look_wish_left {
    float: left;
    font-size: 17px;
    color: #222;
    font-weight: 500;
    margin-left: 0px;
    margin-right: 30px;
}

.look_wish_right {
    float: left;
}

.look_wish_right li {
    float: left;
    font-size: 14px;
    color: #222;
    font-weight: 500;
    padding: 0 15px 0 0;
    line-height: 22px;
}

.look_exp {
    margin-top: 20px;
    overflow: hidden;
    padding: 0 20px;
}

.look_exp_left {
    float: left;
    font-size: 16px;
    color: #222;
    font-weight: 500;
    margin-left: 0px;
    margin-right: 21px;
    max-width: 76px;
}

.look_exp_right {
    float: left;
}

.look_exp_right li {
    font-size: 14px;
    color: #222;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 10px;
}

.look_exp_right li div {
    display: inline-block;
}

.look_exp_line {
    width: 1px;
    height: 10px;
    background-color: gray;
    margin-left: 8px;
    margin-right: 8px;
}


.look_proj {
    margin-top: 20px;
    overflow: hidden;
    padding: 0 20px;
}

.look_proj_left {
    float: left;
    font-size: 17px;
    color: #222;
    font-weight: 500;
    margin-left: 0px;
    margin-right: 30px;
}

.look_proj_right {
    float: left;
}

.look_proj_right li {
    font-size: 14px;
    color: #222;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 10px;
}

.look_proj_right li div {
    display: inline-block;
}

.look_proj_line {
    width: 1px;
    height: 10px;
    background-color: gray;
    margin-left: 8px;
    margin-right: 8px;
}

.look_edu {
    margin-top: 20px;
    overflow: hidden;
    padding: 0 20px;
}

.look_edu_left {
    float: left;
    font-size: 17px;
    color: #222;
    font-weight: 500;
    margin-left: 0px;
    margin-right: 30px;
}

.look_edu_right {
    float: left;
}

.look_edu_right li {
    margin-bottom: 20px;
    height: 48px;
}

.look_edu_img {
    float: left;
    width: 48px;
    height: 48px;
    margin-right: 10px;
}

.look_edu_img img {
    width: 48px;
    height: 48px;
}

.look_edu_info {
    float: left;
}

.look_edu_job h4 {
    display: inline-block;
    font-size: 14px;
}

.look_edu_job span {
    display: inline-block;
    height: 10px;
    width: 1px;
    background-color: gray;
    margin: 0 8px;
}

.look_close {
    font-family: 'icomoon';
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
}

.look_close:hover {
    color: #00d7c6;
}

.overlay_look {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    display: none;
}





.upload {
    display: none;
    position: fixed;
    padding: 20px;
    width: 460px;
    border-radius: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    background: linear-gradient(to bottom, #cff3f0, #ffffff);
}

.upload_title {
    font-size: 18px;
    font-weight: 500;
    color: #222;
    line-height: 22px;
    margin-left: 10px;
}

.upload_close {
    font-family: 'icomoon';
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
}

.upload_close:hover {
    color: #00d7c6;
}

.upload_main {
    width: 400px;
    margin: 20px auto 20px;
    background-color: #f2f2f2;
    border: 1px dashed #d3d3d3;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    transition: background-color 0.3s, border-color 0.3s;
}

.upload_main:hover {
    background-color: #00d7c528;
    border-color: #00d7c6;
}

.upload_ico {
    margin: 0 auto;
    width: 44px;
    height: 32px;
    overflow: hidden;
}

.upload_ico img {
    width: 44px;
    height: 64px;
}

.upload_main:hover .upload_ico img {
    transform: translateY(-32px);
}

.upload_main h4 {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    line-height: 17px;
    margin-top: 12px;
    margin-bottom: 15px;
}

.upload_main p {
    margin-bottom: 6px;
    font-size: 14px;
    color: #999;
    line-height: 17px;
    font-weight: 400;
}

.overlay_upload {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    display: none;
}

.upload_main.dragover {
    background-color: #00d7c528;
    border-color: #00d7c6;
}

.upload_main.dragover .upload_ico img {
    transform: translateY(-32px);
}