a,
b,
body,
button,
dd,
div,
dl,
em,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
i,
input,
label,
li,
nav,
p,
select,
span,
td,
textarea,
u,
ul {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none
}

li,
ol,
ul {
    list-style: none
}

a {
    text-decoration: none;
    color: white;
}

a:active,
a:focus,
a:hover,
button,
input,
textarea {
    outline: 0
}

a:hover {
    color: #00d7c6;
    text-decoration: none;
    -webkit-transition: all linear .2s;
    transition: all linear .2s
}

img {
    border: none
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?8mntfy');
    src: url('../fonts/icomoon.eot?8mntfy#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?8mntfy') format('truetype'),
        url('../fonts/icomoon.woff?8mntfy') format('woff'),
        url('../fonts/icomoon.svg?8mntfy#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

* {
    box-sizing: border-box;
}

html {
    background-color: rgb(241, 241, 241);
    height: 7000px;
    overflow-x: hidden;
}

.w {
    width: 1184px;
    margin: 0 auto;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.shortcut {
    color: white;
    font-size: 14px;
    height: 49px;
    background: radial-gradient(circle, #0a3d62 0%, #161b21 70%);
}

.shortcut .shortcut-left {
    float: left;
    width: 800px;
    height: 49px;
}

.shortcut .shortcut-right {
    float: right;
    width: 270px;
    height: 49px;
}

.shortcut .w .shortcut-left .logo a {
    text-align: left;
    font-size: 30px;
    line-height: 49px;
    float: left;
    display: block;
    width: 104px;
    height: 49px;
}

.shortcut .w .shortcut-left .city {
    float: left;
    width: 114px;
    height: 49px;
    background-color: blue;
}

.shortcut .w .shortcut-left .nav {
    float: left;
    width: 580px;
    height: 49px;
}

.shortcut .w .shortcut-left .nav ul li {
    float: left;
    line-height: 49px;
    margin: 0 11px;
}

#now {
    color: #00d7c6;
}

.shortcut .shortcut-right .choice {
    position: relative;
    float: left;
    width: 164px;
    height: 49px;
}

.shortcut .shortcut-right .choice .c1 {
    float: left;
    width: 71px;
    height: 27px;
    margin-top: 11px;
    margin-right: 11px;
}

.shortcut .shortcut-right .choice .c1 :hover {
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);

}

.shortcut .shortcut-right .choice .c2 :hover {
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
}

.shortcut .shortcut-right .choice a {
    display: block;
    color: white;
    text-align: center;
    line-height: 27px;
}

.shortcut .shortcut-right .choice .c2 {
    float: left;
    width: 82px;
    height: 27px;
    margin-top: 11px;
}

.shortcut .shortcut-right .login {
    float: right;
    width: 88px;
    height: 27px;
    margin-top: 11px;
    border-radius: 7px;
    border-color: #00d7c6;
    border-width: 1px;
    border-style: solid;
}

.shortcut .shortcut-right .login a {
    display: block;
    text-align: center;
    line-height: 26px;
}

.choice_ex {
    position: absolute;
    display: none;
    top: 49px;
    right: -31px;
    width: 224px;
    height: 140px;
    background-color: white;
    border-radius: 11px;
}


.choice_ex a:first-child {
    float: left;
    display: block;
    height: 124px;
    width: 100px;
    margin-left: 8px;
    margin-top: 7px;
    border-radius: 11px;
    background: linear-gradient(to bottom, #b19cd9, #ffffff);
    transition: box-shadow 0.3s ease;
}

.choice_ex a:first-child:hover {
    box-shadow: 0 0 0 1px #00d1d1;
}

.choice_ex a:last-child {
    float: left;
    display: block;
    height: 124px;
    width: 100px;
    margin-left: 8px;
    margin-top: 7px;
    border-radius: 11px;
    background: linear-gradient(to bottom, #ffe1a9, #ffffff);
    transition: box-shadow 0.3s ease;
}

.choice_ex a:last-child:hover {
    box-shadow: 0 0 0 1px #00d3d3;
}

.choice:hover .choice_ex {
    display: block;
}

.choice_ex1 span {
    color: black;
}

.choice_ex2 span {
    color: black;
}

.choice_ex1_bg {
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin: 14px auto 8px;
}

.choice_ex1_bg img {
    width: 60px;
}

.choice_ex2_bg {
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin: 14px auto 8px;
}

.choice_ex2_bg img {
    width: 60px;
    transform: translateY(-60px);
}




.top {
    background: #fff;
    width: 1184px;
    margin: 20px auto 0;
    border-radius: 12px;
    padding: 24px 24px 16px;
}

.top-fixed {
    width: 1691px;
    margin-top: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0;
}

.search {
    position: relative;
    width: 910px;
    height: 54px;
    background-color: #00d7c6;
    border-radius: 12px;
}

.search>div {
    float: left;
}

.s_left {
    border-color: #00d7c6;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 12px;
}

.s_type {
    float: left;
}

.s_type a {
    display: block;
    width: 120px;
    height: 50px;
    color: black;
    font-family: 'icomoon';
    text-align: center;
    line-height: 48px;
}

.s_type a:hover {
    color: #00d7c6;
    text-decoration: none;
    -webkit-transition: all linear .2s;
    transition: all linear .2s
}


.s_input {
    float: left;
    width: 660px;
    height: 50px;
    padding-left: 23px;
}

.s_input input {
    border: none;
    font-size: 18px;
    color: gray;
    line-height: 48px;
    width: 600px;
}

.s_text {
    float: left;
    width: 124px;
    height: 50px;
    padding-left: 37px;
}

.s_text span {
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: white;
    line-height: 48px;
}


.search_ex2 {
    display: none;
    z-index: 900;
    position: absolute;
    top: 62px;
    left: 139px;
    width: 642px;
    padding: 4px 0;
    background: #fff;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .08);
    border-radius: 12px;
    overflow: scroll;
    max-height: 400px;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

.search_ex2::-webkit-scrollbar {
    display: none;
    /* chrome */
}

.search_ex2 li {
    height: 40px;
    line-height: 40px;
    color: #333;
    font-size: 14px;
    padding: 0 16px;
    border: none;
    transition: all .2s linear;
}

.search_ex2 li:hover {
    background: #f8f8f8;
}


.screen {
    position: relative;
    background-color: white;
}

.screen_top {
    position: relative;
    height: 54px;
    padding-top: 10px;
}

.screen_title {
    position: relative;
    float: left;
    line-height: 30px;
    font-size: 20px;
    font-weight: 600;
    color: #222;
    z-index: 4;
}

.screen_title_l {
    position: absolute;
    left: -4px;
    right: 0;
    bottom: 14px;
    z-index: 2;
    height: 10px;
    width: 90px;
    background: linear-gradient(90deg, #a0ecec, #fff2e6);
    border-radius: 5px;
}

.screen_chosen {
    float: left;
    align-items: center;
    font-size: 16px;
    color: #666;
    line-height: 22px;
    padding: 4px 0;
    vertical-align: middle;
    position: relative;
    transition: all .2s linear;
    margin-left: 40px;
}

.screen_chosen a {
    color: #666;
}

.screen_chosen a:hover {
    color: #00d7c6;
    text-decoration: none;
    -webkit-transition: all linear .2s;
    transition: all linear .2s
}

.screen_l {
    float: left;
    width: 1px;
    height: 15px;
    background-color: #666;
    margin-left: 15px;
    margin-top: 8px;
}

.screen_wish {
    float: left;
    align-items: center;
    font-size: 16px;
    color: #666;
    line-height: 22px;
    padding: 4px 0;
    vertical-align: middle;
    position: relative;
    transition: all .2s linear;
    margin-left: 22px;
}

.screen_add {
    font-family: 'icomoon';
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 8px;
    margin-right: 10px;
    background-color: #e6e3e3;
    border-radius: 5px;
    line-height: 18px;
    text-align: center;
    transition: all linear .2s
}

.screen_wish:hover .screen_add {
    color: white;
    background-color: #00d7c6;
}

.screen_wish a {
    color: #666;
}

.screen_wish a:hover {
    color: #00d7c6;
    text-decoration: none;
    -webkit-transition: all linear .2s;
    transition: all linear .2s
}

.screen_menu {
    float: right;
    align-items: center;
    font-size: 16px;
    line-height: 22px;
    padding: 4px 13px;
    vertical-align: middle;
    position: relative;
    transition: all .2s linear;
    background: rgba(0, 190, 189, .1);
    color: #00a6a7;
    border-radius: 8px;
}

.screen_menu:hover {
    background: rgba(0, 190, 189, .2);
}

.screen_menu span {
    font-family: 'icomoon';
}


.screen_menu a {
    color: #666;
}

.screen_menu a:hover {
    color: #00d7c6;
    text-decoration: none;
    -webkit-transition: all linear .2s;
    transition: all linear .2s
}

/* 收起的颜色 */
.screen_menu.collapsed {
    color: #666;
    background-color: transparent;

}

/* 收起时悬停的颜色 */
.screen_menu.collapsed:hover {
    background: rgba(0, 190, 189, .2);
}

.screen_tag {
    position: relative;
    margin-top: 10px;
    width: 1140px;
    height: 56px;
    transition: max-height 0.5s ease-out,
        padding 0.5s ease-out,
        border-top-color 0.5s ease-out;
    max-height: 500px;
}


.screen_tag.collapsed {
    border-top-color: transparent;
}

.screen_tag>ul {
    float: left;
    margin-top: 10px;
}

.screen_tag>ul>li {
    background: #f8f8f8;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    color: #222;
    padding: 6px 10px;
    display: inline-block;
    width: 110px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    margin-right: 10px;
    white-space: nowrap;
}

.screen_tag>ul>li:first-child {
    color: #00a6a7;
    background: rgba(0, 190, 189, .1);
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.screen_tag>ul>li:nth-child(n+2):hover {
    color: #00a6a7;
    background: rgba(0, 190, 189, .1);
}

.screen_tag>ul>li span {
    font-family: 'icomoon';
}

.province-selector {
    width: 160px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    padding: 4px 8px;
    top: 52px;
    left: 0;
    z-index: 3;
    border-radius: 8px;
    border: 1px solid rgba(198, 198, 198, 0.653);
    max-height: 230px;
    overflow: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

/* IE 10+ */
.province-selector::-webkit-scrollbar {
    display: none;
    /* chrome */
}

.province-selector li {
    overflow: hidden;
    display: block;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    line-height: 20px;
    padding: 8px 8px 8px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: all .2s linear;
}

.province-selector li:hover {
    color: #00a6a7;
    background: rgba(0, 190, 189, .1);
}

.city-selector {
    position: absolute;
    background-color: rgb(255, 255, 255);
    padding: 4px 8px;
    top: 52px;
    left: 168px;
    width: 190px;
    z-index: 3;
    border-radius: 8px;
    border: 1px solid rgba(198, 198, 198, 0.653);
    max-height: 230px;
    overflow: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

/* IE 10+ */
.city-selector::-webkit-scrollbar {
    display: none;
    /* chrome */
}

.city-selector li {
    display: block;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    line-height: 20px;
    padding: 8px 8px 8px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: all .2s linear;
}

.city-selector li:hover {
    color: #00a6a7;
    background: rgba(0, 190, 189, .1);
}

.province-selector,
.city-selector {
    display: none;
}


.province-selector ul li.selected {
    color: #00a6a7;
    position: relative;
    padding-left: 20px;
}

.province-selector ul li.selected::before {
    font-size: large;
    content: '\2022';
    margin-right: 4px;
    position: absolute;
    left: 6px;
    color: #00a6a7;
}

.province-selector ul li::before {
    content: '';
}

.city-selector ul li.selected {
    color: #00a6a7;
    position: relative;
    padding-left: 20px;
}

.city-selector ul li.selected::before {
    font-size: large;
    content: '\2022';
    margin-right: 4px;
    position: absolute;
    left: 6px;
    color: #00a6a7;
}

.city-selector ul li::before {
    content: '';
}




.tag_ex1 {
    display: none;
    position: absolute;
    width: 100px;
    background-color: rgb(255, 255, 255);
    padding: 4px 8px;
    top: 52px;
    left: 126px;
    z-index: 3;
    border-radius: 8px;
    border: 1px solid rgba(198, 198, 198, 0.653);
}

.tag_ex1 ul li {
    display: block;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    line-height: 20px;
    padding: 8px 24px 8px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: all .2s linear;
}

.tag_ex1 ul li:hover {
    color: #00a6a7;
    background: rgba(0, 190, 189, .1);
}

.tag1 {
    position: relative;
}

.tag1.has-selection {
    color: #00a6a7;
    background: rgba(0, 190, 189, .1);
}

.tag1.has-selection::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    color: #fff;
    background-color: #00a6a7;
    border-radius: 50%;
    padding: 4px;
    font-size: 12px;
    line-height: 1;
}

.tag_ex1.show {
    display: block;
}

.tag_ex1 ul li.selected {
    color: #00a6a7;
    position: relative;
    padding-left: 20px;
}

.tag_ex1 ul li.selected::before {
    font-size: large;
    content: '\2022';
    margin-right: 4px;
    position: absolute;
    left: 6px;
    color: #00a6a7;
}

.tag_ex1 ul li::before {
    content: '';
}




.tag_ex2 {
    display: none;
    position: absolute;
    width: 120px;
    background-color: rgb(255, 255, 255);
    padding: 4px 8px;
    top: 52px;
    left: 250px;
    z-index: 3;
    border-radius: 8px;
    border: 1px solid rgba(198, 198, 198, 0.653);
}

.tag_ex2 ul li {
    display: block;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    line-height: 20px;
    padding: 8px 24px 8px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: all .2s linear;
}

.tag_ex2 ul li:hover {
    color: #00a6a7;
    background: rgba(0, 190, 189, .1);
}

.tag2 {
    position: relative;
}

.tag2.has-selection {
    color: #00a6a7;
    background: rgba(0, 190, 189, .1);
}

.tag2.has-selection::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    color: #fff;
    background-color: #00a6a7;
    border-radius: 50%;
    padding: 4px;
    font-size: 12px;
    line-height: 1;
}

.tag_ex2.show {
    display: block;
}

.tag_ex2 ul li.selected {
    color: #00a6a7;
    position: relative;
    padding-left: 20px;
}

.tag_ex2 ul li.selected::before {
    font-size: large;
    content: '\2022';
    margin-right: 4px;
    position: absolute;
    left: 6px;
    color: #00a6a7;
}

.tag_ex2 ul li::before {
    content: '';
}






.tag_ex3 {
    display: none;
    position: absolute;
    width: 120px;
    background-color: rgb(255, 255, 255);
    padding: 4px 8px;
    top: 52px;
    left: 375px;
    z-index: 3;
    border-radius: 8px;
    border: 1px solid rgba(198, 198, 198, 0.653);
}

.tag_ex3 ul li {
    display: block;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    line-height: 20px;
    padding: 8px 24px 8px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: all .2s linear;
}

.tag_ex3 ul li:hover {
    color: #00a6a7;
    background: rgba(0, 190, 189, .1);
}

.tag3 {
    position: relative;
}

.tag3.has-selection {
    color: #00a6a7;
    background: rgba(0, 190, 189, .1);
}

.tag3.has-selection::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    color: #fff;
    background-color: #00a6a7;
    border-radius: 50%;
    padding: 4px;
    font-size: 12px;
    line-height: 1;
}

.tag_ex3.show {
    display: block;
}

.tag_ex3 ul li.selected {
    color: #00a6a7;
    position: relative;
    padding-left: 20px;
}

.tag_ex3 ul li.selected::before {
    font-size: large;
    content: '\2022';
    margin-right: 4px;
    position: absolute;
    left: 6px;
    color: #00a6a7;
}

.tag_ex3 ul li::before {
    content: '';
}








.tag_ex4 {
    display: none;
    position: absolute;
    width: 140px;
    background-color: rgb(255, 255, 255);
    padding: 4px 8px;
    top: 52px;
    left: 499px;
    z-index: 3;
    border-radius: 8px;
    border: 1px solid rgba(198, 198, 198, 0.653);
}

.tag_ex4 ul li {
    display: block;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    line-height: 20px;
    padding: 8px 24px 8px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: all .2s linear;
}

.tag_ex4 ul li:hover {
    color: #00a6a7;
    background: rgba(0, 190, 189, .1);
}

.tag4 {
    position: relative;
}

.tag4.has-selection {
    color: #00a6a7;
    background: rgba(0, 190, 189, .1);
}

.tag4.has-selection::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    color: #fff;
    background-color: #00a6a7;
    border-radius: 50%;
    padding: 4px;
    font-size: 12px;
    line-height: 1;
}

.tag_ex4.show {
    display: block;
}

.tag_ex4 ul li.selected {
    color: #00a6a7;
    position: relative;
    padding-left: 20px;
}

.tag_ex4 ul li.selected::before {
    font-size: large;
    content: '\2022';
    margin-right: 4px;
    position: absolute;
    left: 6px;
    color: #00a6a7;
}

.tag_ex4 ul li::before {
    content: '';
}



.tag_ex5 {
    display: none;
    position: absolute;
    max-height: 230px;
    overflow: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
    width: 687px;
    background-color: rgb(255, 255, 255);
    padding: 4px 8px;
    top: 52px;
    left: 431px;
    z-index: 3;
    border-radius: 8px;
    border: 1px solid rgba(198, 198, 198, 0.653);
}

.tag_ex5::-webkit-scrollbar {
    display: none;
    /* chrome */
}

.ex5 {
    display: flex;
}

.ex5_left {
    padding: 6px 10px;
    display: inline-block;
    width: 180px;
    flex: 0 0 auto;
}

.ex5_right {
    display: inline-block;
    flex: 1;
}

.tag_ex5 ul li {
    display: inline-block;
    border-radius: 4px;
    width: 160px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    line-height: 20px;
    padding: 8px 8px 8px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: all .2s linear;
}

.tag_ex5 ul li:hover {
    color: #00a6a7;
    background: rgba(0, 190, 189, .1);
}

.tag5 {
    position: relative;
}

.tag5.has-selection {
    color: #00a6a7;
    background: rgba(0, 190, 189, .1);
}

.tag5.has-selection::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    color: #fff;
    background-color: #00a6a7;
    border-radius: 50%;
    padding: 4px;
    font-size: 12px;
    line-height: 1;
}

.tag_ex5.show {
    display: block;
}

.tag_ex5 ul li.selected {
    color: #00a6a7;
    position: relative;
    padding-left: 20px;
}

.tag_ex5 ul li.selected::before {
    font-size: large;
    content: '\2022';
    margin-right: 4px;
    position: absolute;
    left: 6px;
    color: #00a6a7;
}

.tag_ex5 ul li::before {
    content: '';
}




.tag_ex6 {
    display: none;
    position: absolute;
    width: 160px;
    background-color: rgb(255, 255, 255);
    padding: 4px 8px;
    top: 52px;
    left: 750px;
    z-index: 3;
    border-radius: 8px;
    border: 1px solid rgba(198, 198, 198, 0.653);
}

.tag_ex6 ul li {
    display: block;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    line-height: 20px;
    padding: 8px 24px 8px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: all .2s linear;
}

.tag_ex6 ul li:hover {
    color: #00a6a7;
    background: rgba(0, 190, 189, .1);
}

.tag6 {
    position: relative;
}

.tag6.has-selection {
    color: #00a6a7;
    background: rgba(0, 190, 189, .1);
}

.tag6.has-selection::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    color: #fff;
    background-color: #00a6a7;
    border-radius: 50%;
    padding: 4px;
    font-size: 12px;
    line-height: 1;
}

.tag_ex6.show {
    display: block;
}

.tag_ex6 ul li.selected {
    color: #00a6a7;
    position: relative;
    padding-left: 20px;
}

.tag_ex6 ul li.selected::before {
    font-size: large;
    content: '\2022';
    margin-right: 4px;
    position: absolute;
    left: 6px;
    color: #00a6a7;
}

.tag_ex6 ul li::before {
    content: '';
}



.screen_del {
    float: right;
    margin-right: 20px;
    font-size: 14px;
    color: #666;
    line-height: 48px;
}

.main {
    margin: 20px auto 0;
}

.main::after {
    content: '';
    display: table;
    clear: both;
}

.main_left {
    float: left;
    width: 884px;
}

.left_li {
    position: relative;
    width: 884px;
    background: #fff;
    border-radius: 12px;
    transition: all .2s linear;
    cursor: pointer;
}

.left_li:hover {
    box-shadow: 0 16px 40px 0 hsla(0, 0%, 60%, .3);
    z-index: 3;
}

.left_li:nth-child(n+2) {
    margin-top: 20px;
}

.job_top::after {
    content: "";
    display: table;
    clear: both;
}

.job_top_left {
    float: left;
    width: 484px;
    padding: 16px 0 16px 24px;
    height: 88px;
}

.job_top_left1 {
    font-size: 16px;
    font-weight: 500;
    color: #222;
}

.job_top_left1::after {
    content: '';
    display: table;
    clear: both;
}

.job_name {
    float: left;
    vertical-align: middle;
    line-height: 22px;
    transition: all .2s linear;
    max-width: 460px;
}

.job_loca {
    float: left;
    margin-left: 12px;
    line-height: 22px;
}

.job_top_left2 {
    margin-top: 12px;
    height: 22px;
    overflow: hidden;
}

.job_top_left2::after {
    content: '';
    display: table;
    clear: both;
}

.job_pay {
    font-size: 16px;
    font-weight: 500;
    color: #fe574a;
    line-height: 22px;
    float: left;
}

.job_tag {
    float: left;
    margin-left: 12px;
    max-width: 172px;
    height: 22px;
    overflow: hidden;
}

.job_tag span {
    display: inline-block;
    padding: 2px 8px;
    background: #f8f8f8;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 400;
    color: #666;
    line-height: 18px;
}

.job_boss {
    position: relative;
    margin-left: 8px;
    padding: 1px 8px 1px 29px;
    float: left;
    max-width: 168px;
    border-radius: 4px;
    border: 1px solid #e5e6e6;
    line-height: 17px;
    font-size: 12px;
    font-weight: 400;
    color: #666;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 2px;
}

.job_boss span {
    display: inline-block;
}

.job_boss span:first-child {
    margin-right: 7px;
}

.job_boss_name::before {
    content: " ";
    position: absolute;
    width: 13px;
    height: 12px;
    top: 4px;
    left: 8px;
    z-index: 1;
    background: url(https://img.bosszhipin.com/static/file/2022/mikp4dmkmu1655206943355.png) -17px 0 / 30px auto no-repeat;
}

.job_boss_job::before {
    content: " ";
    position: absolute;
    top: 5px;
    left: 70px;
    width: 1px;
    height: 8px;
    background: #e5e6e6;
    z-index: 1;
}

.job_state {
    display: inline-block;
    position: relative;
    height: 22px;
    background: #e1f5e3;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    color: #40b14f;
    line-height: 22px;
    padding: 0 10px 0 20px;
    margin-left: 8px;
}

.job_state::before {
    content: " ";
    position: absolute;
    width: 7px;
    height: 7px;
    top: 8px;
    left: 8px;
    border-radius: 100%;
    background: #3ac249;
    z-index: 1;
}

.job_top_right {
    float: left;
    width: 400px;
    padding: 16px 24px 16px 10px;
}

.job_top_right::after {
    content: '';
    display: table;
    clear: both;
}

.job_comp_img {
    float: left;
    width: 56px;
    height: 56px;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #f8f8f8;
}

.job_comp_img img {
    width: 100%;
    height: 100%;
}

.job_comp_info {
    margin-left: 12px;
    float: left;
}

.job_comp_name {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    height: 22px;
}

.job_comp_tag {
    margin-top: 12px;
    height: 22px;
    overflow: hidden;
    max-width: 298px;
}

.job_comp_tag li {
    display: inline-block;
    background: #f8f8f8;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 400;
    color: #666;
    line-height: 18px;
}

.job_bottom {
    padding: 15px 24px;
    background: linear-gradient(90deg, #f5fcfc, #fcfbfa);
    border-radius: 0 0 12px 12px;
    cursor: pointer;
}

.job_bottom::after {
    content: '';
    display: table;
    clear: both;
}

.job_bottom_left {
    float: left;
    width: 390px;
    margin-right: 84px;
    margin-left: -8px;
    height: 18px;
    margin-top: -2px;
}

.job_bottom_requ li {
    display: inline-block;
    position: relative;
    padding: 0 8px;
    font-size: 13px;
    font-weight: 400;
    color: #666;
    line-height: 18px;
    white-space: nowrap;
}

.job_bottom_requ li:first-child::before {
    display: none;
    content: " ";
    position: absolute;
    top: 4px;
    left: 0;
    width: 1px;
    height: 10px;
    background: #e0e0e0;
    z-index: 1;
}

.job_bottom_requ li::before {
    content: " ";
    position: absolute;
    top: 4px;
    left: 0;
    width: 1px;
    height: 10px;
    background: #e0e0e0;
    z-index: 1;
}

.job_bottom_right {
    float: left;
    width: 362px;
    font-size: 13px;
    font-weight: 400;
    color: #666;
    line-height: 18px;
    word-break: break-word;
    -ms-word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main_right {
    float: right;
    width: 284px;
}

.right_upload {
    position: sticky;
    margin-bottom: 16px;
    text-align: center;
    padding: 16px 0;
    border-radius: 12px;
    background: #fff url(https://img.bosszhipin.com/static/file/2022/cnu5gp1qwn1653981870928.png) 0 / 100% auto no-repeat;
}

.right-upload-fixed {
    position: fixed;
    top: 230px;
    width: 284px;
}

.right_upload a {
    position: relative;
    display: block;
    width: 176px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    margin: 0 auto;
    transition: all .2s linear;
    background: linear-gradient(90deg, #05d9d6, #00bebd);
    box-shadow: 0 5px 10px -5px rgba(16, 139, 140, .6);
    border-radius: 8px;
}

.right_upload a:hover {
    background: linear-gradient(90deg, #05afac, #009595);
}

.right_upload a:last-child {
    margin-top: 16px;
}

.fixed-transition {
    transition: all 0.5s ease;
}

/* 动画实例1 渐现下滑 */
/* @keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.header-fixed-animate {
    animation: slideDown 0.5s ease forwards;
}

.right-upload-fixed-animate {
    animation: slideDown 0.5s ease forwards;
} */

/* 动画实例2   旋转进入 */
@keyframes rotateIn {
    from {
        opacity: 0;
        transform: rotate(-360deg);
    }

    to {
        opacity: 1;
        transform: rotate(0deg);
    }
}

.header-fixed-animate {
    animation: rotateIn 0.5s ease forwards;
}

.right-upload-fixed-animate {
    animation: rotateIn 0.5s ease forwards;
}

/* 动画实例3   渐现缩放 */
/* @keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header-fixed-animate {
    animation: zoomIn 0.5s ease forwards;
}

.right-upload-fixed-animate {
    animation: zoomIn 0.5s ease forwards;
} */